.footer {
    background: url(../images/footer.webp);
    padding: 30px 20px;
    color: #ffffff;
}

.footer-overlay {
    max-width: 1200px;
    margin: 0 auto;
}

/* Contact Blocks */
.footer-contact {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.contact-block {
    padding: 20px 15px;
    width: 260px;
    text-align: left;
}

.contact-block h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 18px;
    margin-top: 16px;
}

.footer-overlay p {
    font-size: 15px;
    line-height: 1.6;
    padding-bottom: 15px;
}
.footer-overlay h1{
  margin-bottom: 20px;
  font-size: 26px;
}
.footer-overlay button{
  padding: 12px 20px;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 3px;
}

/* Responsive */
@media (max-width: 900px) {
  .footer {
    padding: 30px 10px;
  }

  .footer h1 {
    font-size: 32px;
  }

  .footer p {
    font-size: 14px;
    line-height: 1.6;
  }

  .footer-cta {
    font-size: 14px;
    padding: 6px 14px;
  }

  .footer-contact {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .contact-block {
    width: 100%;
    padding: 5px;
    max-width: 360px;
  }
  .contact-block p{
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 0;
  }
  
}
